<!-- base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Content -->
    {% block content %}
    <h1>Book List</h1>
    <ul>
      {% for book in book_list %}
        <li>{{ book.title }} by {{ book.author }}</li>
      {% endfor %}
      </ul>
  {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
