*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    background-color: rgb(12, 230, 96);
}
nav {
    width: 20%;
    background-color: brown;
    display: inline-block;
}
main {
    width: 80%;
    background-color: rgb(65, 100, 225);
    color: azure;
    display: inline-block;
}